<a href="https://colab.research.google.com/github/walukas1/DeepDiveDSProjects/blob/main/Capstone_NMPED_Attendance_Data_scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TO DO


1. ‚úÖAutomate data scraping of NM PED site/Manually scrape
1. ‚úÖInitial data analysis to see what there is
1. ‚úÖMake common dataframe columns uniform
  1. ‚úÖDrop unneeded columns
  1. ‚úÖAdd school, district and year columns
1. ‚úÖRearrange column order
1. ‚úÖCompile like dataframes with

[‚úÖ Complete] ---
[üü° In progress] ---
[‚ùó Backlog]

Source : https://webnew.ped.state.nm.us/bureaus/safe-healthy-schools/attendance-for-success/annual-state-districts-and-schools-attendance-report/

In [1]:
import re
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs4

In [2]:
highland_list = ['Wherry Elementary',
'Emerson Elementary',
'Whittier Elementary',
'Wilson Middle',
'Van Buren Middle',
'Hayes Middle',
'Highland High']

## ‚úÖTry to pull file addresses directly from main site page

Attempt made, less possible due to each school report having a unique web address identifier

In [3]:
# url = "https://webnew.ped.state.nm.us/bureaus/safe-healthy-schools/attendance-for-success/annual-state-districts-and-schools-attendance-report/"
# url

In [4]:
# response = requests.get( url )
# response.text[:500]

In [5]:
# dom = bs4( response.text, features='html.parser')
# type(dom), str(dom)[:500]

In [6]:
# data_links = [
#  x.group(0)
#     for link_tag in dom.find_all('a', href=True)
#       if (x := re.search(r'https://.*\.(xls(x|b)?|csv|txt|tsv)$', link_tag['href'], re.IGNORECASE))
# ]
# len(data_links)

In [7]:
# data_links

### Example file addresses, parsed

In [8]:
# https://nmpedpublic.cloud.looker.com/explore/fnojb7yxyCV4ZwcYk05ylZ.json_label
# ?apply_formatting=true
# &apply_vis=true
# &open_in_browser=yes
# &title=Subpopulation%20Attendance%20Data%20-%20School
# &filename=Subpopulation%20Attendance%20Data%20-%20School
# .json_label

In [9]:
# https://nmpedpublic.cloud.looker.com/explore/zCnQiRkprRU49DA0cfxvyF.json_label
# ?apply_formatting=true&apply_vis=true
# &open_in_browser=yes
# &title=Overview%20of%20School%20Attendance%20Information%20by%20Grade%20Level
# &filename=Overview%20of%20School%20Attendance%20Information%20by%20Grade%20Level
# .json_label

### ‚úÖEDA for file formatting options

unformatted

In [10]:
aps24_att_url = 'https://nmpedpublic.cloud.looker.com/explore/X0z1FpGXo4Dk9cxgdxkbcR.json_label?apply_formatting=false&apply_vis=false&open_in_browser=yes&title=Overview%20of%20School%20Attendance%20Information%20by%20Grade%20Level&filename=Overview%20of%20School%20Attendance%20Information%20by%20Grade%20Level.json_label'
# response = requests.get(aps_att_url)
aps24_att_byschool = pd.read_json(aps24_att_url)

In [11]:
aps24_att_byschool.tail()
filter = aps24_att_byschool['Annual Attendance  School Name'] == 'WHITTIER ELEMENTARY'
filter2 = aps24_att_byschool['Annual Attendance Grade Level'] == '09'
aps24_att_byschool[filter]

,Annual Attendance District Name,Annual Attendance School Name,Annual Attendance Grade Level,Annual Attendance Enrollment,Annual Attendance No. of Student in Tier 1,Annual Attendance No. of Student in Tier 2,Annual Attendance No. of Student in Tier 3,Annual Attendance No. of Student in Tier 4,Annual Attendance Chronically Absent Student,Chronic Absentee Rate
422,ALBUQUERQUE,WHITTIER ELEMENTARY,05,57.0,13.0,21.0,15.0,8.0,23,0.403509
493,ALBUQUERQUE,WHITTIER ELEMENTARY,02,50.0,12.0,10.0,19.0,9.0,28,0.560000

In [12]:
aps24_subgroup_url = 'https://nmpedpublic.cloud.looker.com/explore/HwOnfWOWUATBnL9Bdv6dkS.json_label?apply_formatting=false&apply_vis=false&open_in_browser=yes&title=Subpopulation%20Attendance%20Data%20-%20School&filename=Subpopulation%20Attendance%20Data%20-%20School.json_label'
aps24_att_bysubgroup = pd.read_json(aps24_subgroup_url)
aps24_att_bysubgroup.head()

,Annual Attendance Subpopulation Item,Annual Attendance Enrollment,Annual Attendance No. of Student in Tier 1,Annual Attendance No. of Student in Tier 2,Annual Attendance No. of Student in Tier 3,Annual Attendance No. of Student in Tier 4,Annual Attendance Chronically Absent Student,Annual Attendance Total Days Excused Absence,Annual Attendance Total Days Enrolled,Annual Attendance Total Days Unexcused Absence,...,Tier 2 Students,Tier 3 Students,Tier 4 Students,Percent of Student in Tier 1,Percent of Student in Tier 2,Percent of Student in Tier 3,Percent of Student in Tier 4,Chronic Absentee Rate,Average Excused Absences,Average Unexcused Absences
0,,2715,1184,824,494,213,707,16651,458034,21423,...,824,494,213,0.436096,0.303499,0.181952,0.078453,0.260405,6.132965,7.890608
1,Female,36169,13875,11066,7491,3737,11228,220458,6160881,359512,...,11066,7491,3737,0.383616,0.305953,0.207111,0.103321,0.310432,6.095220,9.939783
2,Male,38001,14619,11575,7883,3924,11807,228146,6461746,378442,...,11575,7883,3924,0.384700,0.304597,0.207442,0.103260,0.310702,6.003684,9.958738
3,Hispanic,49169,17361,15100,11053,5655,16708,297607,8384182,541952,...,15100,11053,5655,0.353088,0.307104,0.224796,0.115011,0.339808,6.052736,11.022229
4,American Indian/Alaskan Native,4001,1159,1213,1068,561,1629,27816,675177,48141,...,1213,1068,561,0.289678,0.303174,0.266933,0.140215,0.407148,6.952262,12.032242

Base options

In [13]:
aps24_att_url2 = 'https://nmpedpublic.cloud.looker.com/explore/eLeSugXXKj7J1vz1amRKVh.json_label?apply_formatting=true&apply_vis=true&open_in_browser=yes&title=Overview%20of%20School%20Attendance%20Information%20by%20Grade%20Level&filename=Overview%20of%20School%20Attendance%20Information%20by%20Grade%20Level.json_label'
aps24_att_byschool2 = pd.read_json(aps24_att_url2)
aps24_att_byschool2.head()
list(zip(aps24_att_byschool.columns, aps24_att_byschool2.columns))

[('Annual Attendance  District Name', ' District Name'),
 ('Annual Attendance  School Name', ' School Name'),
 ('Annual Attendance Grade Level', 'Grade Level'),
 ('Annual Attendance Enrollment', 'Enrollment'),
 ('Annual Attendance No. of Student in Tier 1', 'No. of Student in Tier 1'),
 ('Annual Attendance No. of Student in Tier 2', 'No. of Student in Tier 2'),
 ('Annual Attendance No. of Student in Tier 3', 'No. of Student in Tier 3'),
 ('Annual Attendance No. of Student in Tier 4', 'No. of Student in Tier 4'),
 ('Annual Attendance Chronically Absent Student',
  'Chronically Absent Student'),
 ('Chronic Absentee Rate', 'Chronic Absentee Rate')]

In [14]:
aps24_subgroup_url2 = 'https://nmpedpublic.cloud.looker.com/explore/HwOnfWOWUATBnL9Bdv6dkS.json_label?apply_formatting=false&apply_vis=false&open_in_browser=yes&title=Subpopulation%20Attendance%20Data%20-%20School&filename=Subpopulation%20Attendance%20Data%20-%20School.json_label'
aps24_att_bysubgroup2 = pd.read_json(aps24_subgroup_url2)
aps24_att_bysubgroup2.head()

,Annual Attendance Subpopulation Item,Annual Attendance Enrollment,Annual Attendance No. of Student in Tier 1,Annual Attendance No. of Student in Tier 2,Annual Attendance No. of Student in Tier 3,Annual Attendance No. of Student in Tier 4,Annual Attendance Chronically Absent Student,Annual Attendance Total Days Excused Absence,Annual Attendance Total Days Enrolled,Annual Attendance Total Days Unexcused Absence,...,Tier 2 Students,Tier 3 Students,Tier 4 Students,Percent of Student in Tier 1,Percent of Student in Tier 2,Percent of Student in Tier 3,Percent of Student in Tier 4,Chronic Absentee Rate,Average Excused Absences,Average Unexcused Absences
0,,2715,1184,824,494,213,707,16651,458034,21423,...,824,494,213,0.436096,0.303499,0.181952,0.078453,0.260405,6.132965,7.890608
1,Female,36169,13875,11066,7491,3737,11228,220458,6160881,359512,...,11066,7491,3737,0.383616,0.305953,0.207111,0.103321,0.310432,6.095220,9.939783
2,Male,38001,14619,11575,7883,3924,11807,228146,6461746,378442,...,11575,7883,3924,0.384700,0.304597,0.207442,0.103260,0.310702,6.003684,9.958738
3,Hispanic,49169,17361,15100,11053,5655,16708,297607,8384182,541952,...,15100,11053,5655,0.353088,0.307104,0.224796,0.115011,0.339808,6.052736,11.022229
4,American Indian/Alaskan Native,4001,1159,1213,1068,561,1629,27816,675177,48141,...,1213,1068,561,0.289678,0.303174,0.266933,0.140215,0.407148,6.952262,12.032242

In [15]:
aps24_att_bysubgroup.head()

,Annual Attendance Subpopulation Item,Annual Attendance Enrollment,Annual Attendance No. of Student in Tier 1,Annual Attendance No. of Student in Tier 2,Annual Attendance No. of Student in Tier 3,Annual Attendance No. of Student in Tier 4,Annual Attendance Chronically Absent Student,Annual Attendance Total Days Excused Absence,Annual Attendance Total Days Enrolled,Annual Attendance Total Days Unexcused Absence,...,Tier 2 Students,Tier 3 Students,Tier 4 Students,Percent of Student in Tier 1,Percent of Student in Tier 2,Percent of Student in Tier 3,Percent of Student in Tier 4,Chronic Absentee Rate,Average Excused Absences,Average Unexcused Absences
0,,2715,1184,824,494,213,707,16651,458034,21423,...,824,494,213,0.436096,0.303499,0.181952,0.078453,0.260405,6.132965,7.890608
1,Female,36169,13875,11066,7491,3737,11228,220458,6160881,359512,...,11066,7491,3737,0.383616,0.305953,0.207111,0.103321,0.310432,6.095220,9.939783
2,Male,38001,14619,11575,7883,3924,11807,228146,6461746,378442,...,11575,7883,3924,0.384700,0.304597,0.207442,0.103260,0.310702,6.003684,9.958738
3,Hispanic,49169,17361,15100,11053,5655,16708,297607,8384182,541952,...,15100,11053,5655,0.353088,0.307104,0.224796,0.115011,0.339808,6.052736,11.022229
4,American Indian/Alaskan Native,4001,1159,1213,1068,561,1629,27816,675177,48141,...,1213,1068,561,0.289678,0.303174,0.266933,0.140215,0.407148,6.952262,12.032242

In [16]:
filter = aps24_att_byschool2[' School Name'] == 'WHERRY ELEMENTARY'
# filter2 = aps24_att_byschool['Grade Level'] == '09'
aps24_att_byschool2[filter]
# aps24_att_byschool2.columns

,District Name,School Name,Grade Level,Enrollment,No. of Student in Tier 1,No. of Student in Tier 2,No. of Student in Tier 3,No. of Student in Tier 4,Chronically Absent Student,Chronic Absentee Rate
29,ALBUQUERQUE,WHERRY ELEMENTARY,04,42.0,8.0,18.0,12.0,4.0,16,38.10%
30,ALBUQUERQUE,WHERRY ELEMENTARY,02,45.0,12.0,13.0,12.0,8.0,20,44.44%
31,ALBUQUERQUE,WHERRY ELEMENTARY,01,32.0,7.0,8.0,10.0,7.0,17,53.13%
32,ALBUQUERQUE,WHERRY ELEMENTARY,03,36.0,9.0,9.0,15.0,3.0,18,50.00%
33,ALBUQUERQUE,WHERRY ELEMENTARY,PK,15.0,3.0,3.0,6.0,3.0,9,60.00%
34,ALBUQUERQUE,WHERRY ELEMENTARY,05,35.0,10.0,15.0,6.0,4.0,10,28.57%
35,ALBUQUERQUE,WHERRY ELEMENTARY,KF,38.0,6.0,16.0,9.0,7.0,16,42.11%

### ‚úÖ Manually collect file addresses for clustered schools and APS
for years 22/23-23/24

In [17]:
highland_list

['Wherry Elementary',
 'Emerson Elementary',
 'Whittier Elementary',
 'Wilson Middle',
 'Van Buren Middle',
 'Hayes Middle',
 'Highland High']

23/24 clutser schools by subpopulation

In [18]:
att_df_dict = {}

In [19]:
att_df_dict['df_aps24_bysubpop'] = 'https://nmpedpublic.cloud.looker.com/explore/HwOnfWOWUATBnL9Bdv6dkS.json_label?apply_formatting=true&apply_vis=true&open_in_browser=yes&title=Subpopulation%20Attendance%20Data%20-%20School&filename=Subpopulation%20Attendance%20Data%20-%20School.json_label'
att_df_dict['df_wherry24_bysubpop'] = 'https://nmpedpublic.cloud.looker.com/explore/4keDuU6eBG5b76psR2olOp.json_label?apply_formatting=true&apply_vis=true&open_in_browser=yes&title=Subpopulation%20Attendance%20Data%20-%20School&filename=Subpopulation%20Attendance%20Data%20-%20School.json_label'
att_df_dict['df_emerson24_bysubpop'] = 'https://nmpedpublic.cloud.looker.com/explore/nR1ZKqKPpIC9SFa1BLKlhh.json_label?apply_formatting=true&apply_vis=true&open_in_browser=yes&title=Subpopulation%20Attendance%20Data%20-%20School&filename=Subpopulation%20Attendance%20Data%20-%20School.json_label'
att_df_dict['df_whittier24_bysubpop']= 'https://nmpedpublic.cloud.looker.com/explore/0CGk4FyqKh6OZweOCynILu.json_label?apply_formatting=true&apply_vis=true&open_in_browser=yes&title=Subpopulation%20Attendance%20Data%20-%20School&filename=Subpopulation%20Attendance%20Data%20-%20School.json_label'
att_df_dict['df_wilson24_bysubpop']= 'https://nmpedpublic.cloud.looker.com/explore/FvdZD98x9j8YacRlNHoUeK.json_label?apply_formatting=true&apply_vis=true&open_in_browser=yes&title=Subpopulation%20Attendance%20Data%20-%20School&filename=Subpopulation%20Attendance%20Data%20-%20School.json_label'
att_df_dict['df_vanburen24_bysubpop']= 'https://nmpedpublic.cloud.looker.com/explore/QJVVJSkXza6KPTz6B7yWQ2.json_label?apply_formatting=true&apply_vis=true&open_in_browser=yes&title=Subpopulation%20Attendance%20Data%20-%20School&filename=Subpopulation%20Attendance%20Data%20-%20School.json_label'
att_df_dict['df_hayes24_bysubpop']= 'https://nmpedpublic.cloud.looker.com/explore/iYTf7A5WvToyXOLXOC1zJP.json_label?apply_formatting=true&apply_vis=true&open_in_browser=yes&title=Subpopulation%20Attendance%20Data%20-%20School&filename=Subpopulation%20Attendance%20Data%20-%20School.json_label'
att_df_dict['df_highland24_bysubpop']= 'https://nmpedpublic.cloud.looker.com/explore/2ak6WDWOnBWY4A8O2XS7m0.json_label?apply_formatting=true&apply_vis=true&open_in_browser=yes&title=Subpopulation%20Attendance%20Data%20-%20School&filename=Subpopulation%20Attendance%20Data%20-%20School.json_label'

22/23 cluster schools by subpopulation

In [20]:
att_df_dict['df_aps23_bysubpop']= 'https://nmpedpublic.cloud.looker.com/explore/9q9p1JhTqUueQFz0GOen3D.json_label?apply_formatting=true&apply_vis=true&open_in_browser=yes&title=Subpopulation%20Attendance%20Data%20-%20School&filename=Subpopulation%20Attendance%20Data%20-%20School.json_label'
att_df_dict['df_wherry23_bysubpop']= 'https://nmpedpublic.cloud.looker.com/explore/EJltQ5EjSkofMVG0bbeTcX.json_label?apply_formatting=true&apply_vis=true&open_in_browser=yes&title=Subpopulation%20Attendance%20Data%20-%20School&filename=Subpopulation%20Attendance%20Data%20-%20School.json_label'
att_df_dict['df_emerson23_bysubpop']= 'https://nmpedpublic.cloud.looker.com/explore/x49amB4XUWQvCTdQiUuAOk.json_label?apply_formatting=true&apply_vis=true&open_in_browser=yes&title=Subpopulation%20Attendance%20Data%20-%20School&filename=Subpopulation%20Attendance%20Data%20-%20School.json_label'
att_df_dict['df_whittier23_bysubpop']= 'https://nmpedpublic.cloud.looker.com/explore/bGyeXfNDOKpZRvj6RqpyHG.json_label?apply_formatting=true&apply_vis=true&open_in_browser=yes&title=Subpopulation%20Attendance%20Data%20-%20School&filename=Subpopulation%20Attendance%20Data%20-%20School.json_label'
att_df_dict['df_wilson23_bysubpop']= 'https://nmpedpublic.cloud.looker.com/explore/Cil1ytbszNG9EElF4GFMS2.json_label?apply_formatting=true&apply_vis=true&open_in_browser=yes&title=Subpopulation%20Attendance%20Data%20-%20School&filename=Subpopulation%20Attendance%20Data%20-%20School.json_label'
att_df_dict['df_vanburen23_bysubpop']= 'https://nmpedpublic.cloud.looker.com/explore/JvI6ZkQZ47Vi7USDr9KR3m.json_label?apply_formatting=true&apply_vis=true&open_in_browser=yes&title=Subpopulation%20Attendance%20Data%20-%20School&filename=Subpopulation%20Attendance%20Data%20-%20School.json_label'
att_df_dict['df_hayes23_bysubpop']= 'https://nmpedpublic.cloud.looker.com/explore/TOaI3Yj9pbL7W0AzFuUuKF.json_label?apply_formatting=true&apply_vis=true&open_in_browser=yes&title=Subpopulation%20Attendance%20Data%20-%20School&filename=Subpopulation%20Attendance%20Data%20-%20School.json_label'
att_df_dict['df_highland23_bysubpop']= 'https://nmpedpublic.cloud.looker.com/explore/z0DmdXIEdracEVze7ONh1h.json_label?apply_formatting=true&apply_vis=true&open_in_browser=yes&title=Subpopulation%20Attendance%20Data%20-%20School&filename=Subpopulation%20Attendance%20Data%20-%20School.json_label'

22/23 23/24 by grade

In [21]:
att_df_dict['df_aps24_bygrade']= 'https://nmpedpublic.cloud.looker.com/explore/LLqqUB8hbn47acgSQdYUn6.json_label?apply_formatting=true&apply_vis=true&open_in_browser=yes&title=Overview%20of%20School%20Attendance%20Information%20by%20Grade%20Level&filename=Overview%20of%20School%20Attendance%20Information%20by%20Grade%20Level.json_label'
att_df_dict['df_aps23_bygrade']= 'https://nmpedpublic.cloud.looker.com/explore/OArrvhUZae7bIcveLVkzeG.json_label?apply_formatting=true&apply_vis=true&open_in_browser=yes&title=Overview%20of%20School%20Attendance%20Information%20by%20Grade%20Level&filename=Overview%20of%20School%20Attendance%20Information%20by%20Grade%20Level.json_label'

Check to see if columns align

In [22]:
list(att_df_dict.keys())

['df_aps24_bysubpop',
 'df_wherry24_bysubpop',
 'df_emerson24_bysubpop',
 'df_whittier24_bysubpop',
 'df_wilson24_bysubpop',
 'df_vanburen24_bysubpop',
 'df_hayes24_bysubpop',
 'df_highland24_bysubpop',
 'df_aps23_bysubpop',
 'df_wherry23_bysubpop',
 'df_emerson23_bysubpop',
 'df_whittier23_bysubpop',
 'df_wilson23_bysubpop',
 'df_vanburen23_bysubpop',
 'df_hayes23_bysubpop',
 'df_highland23_bysubpop',
 'df_aps24_bygrade',
 'df_aps23_bygrade']

Run this cell to rebuild df dictionary

In [23]:
df_dict = {}
for k, v in att_df_dict.items():
  df_dict[k] = pd.read_json(v)

In [24]:
# cols_df = pd.DataFrame()

In [25]:
# for i in att_df_dict.keys():
#   cols_df = pd.concat([cols_df, pd.Series(cols_df_list[i].columns)],axis = 1)

In [26]:
# cols_df.transpose()

In [27]:
df_dict['df_wherry24_bysubpop'].transpose()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
Subpopulation Item,,Female,Male,Hispanic,American Indian/Alaskan Native,Asian,Black or African American,Caucasian,Not Hispanic,Economically Disadvantaged,Students with Disabilities,English Language Learners,Experiencing Housing Insecurity,Housed
Enrollment,-1,121,122,191,-1,-1,-1,-1,52,178,54,96,-1,235
Tier 1 Students,-1,25,30,47,-1,-1,-1,-1,8,38,11,28,-1,55
Tier 2 Students,-1,44,38,56,-1,-1,-1,-1,26,60,22,26,-1,80
Tier 3 Students,-1,33,37,60,-1,-1,-1,-1,10,53,12,30,-1,66
Tier 4 Students,-1,19,17,28,-1,-1,-1,-1,8,27,9,12,-1,34
Percent of Student in Tier 1,-1.00%,20.66%,24.59%,24.61%,-1.00%,-1.00%,-1.00%,-1.00%,15.38%,21.35%,20.37%,29.17%,-1.00%,23.40%
Percent of Student in Tier 2,-1.00%,36.36%,31.15%,29.32%,-1.00%,-1.00%,-1.00%,-1.00%,50.00%,33.71%,40.74%,27.08%,-1.00%,34.04%
Percent of Student in Tier 3,-1.00%,27.27%,30.33%,31.41%,-1.00%,-1.00%,-1.00%,-1.00%,19.23%,29.78%,22.22%,31.25%,-1.00%,28.09%
Percent of Student in Tier 4,-1.00%,15.70%,13.93%,14.66%,-1.00%,-1.00%,-1.00%,-1.00%,15.38%,15.17%,16.67%,12.50%,-1.00%,14.47%
Chronic Absentee Rate,-1.00%,42.98%,44.26%,46.07%,-1.00%,-1.00%,-1.00%,-1.00%,34.62%,44.94%,38.89%,43.75%,-1.00%,42.55%
Average Excused Absences,6.25,6.46,7.1,6.71,8.57,2.4,7.86,7.5,7.06,6.74,7.57,6.81,11.25,6.63
Average Unexcused Absences,7.42,11.91,10.79,11.38,13.07,3.2,22.14,10.07,11.23,11.92,11.78,9.54,18.63,11.1

### ‚úÖAdd year and school/district/id

In [28]:
for k, v in df_dict.items():
  print(k)
  # print(k.split('_')[1].split('2')[0])

df_aps24_bysubpop
df_wherry24_bysubpop
df_emerson24_bysubpop
df_whittier24_bysubpop
df_wilson24_bysubpop
df_vanburen24_bysubpop
df_hayes24_bysubpop
df_highland24_bysubpop
df_aps23_bysubpop
df_wherry23_bysubpop
df_emerson23_bysubpop
df_whittier23_bysubpop
df_wilson23_bysubpop
df_vanburen23_bysubpop
df_hayes23_bysubpop
df_highland23_bysubpop
df_aps24_bygrade
df_aps23_bygrade

In [29]:
for k, v in df_dict.items():
  print(k.split('_')[1].split('2')[1])

4
4
4
4
4
4
4
4
3
3
3
3
3
3
3
3
4
3

In [30]:
list1 = []
for k, v in df_dict.items():
  list1.append(k.split('_')[1].split('2')[0])

school_rename = dict(zip( list1[0:8], ['Albuqueque District'] + highland_list))
school_rename

{'aps': 'Albuqueque District',
 'wherry': 'Wherry Elementary',
 'emerson': 'Emerson Elementary',
 'whittier': 'Whittier Elementary',
 'wilson': 'Wilson Middle',
 'vanburen': 'Van Buren Middle',
 'hayes': 'Hayes Middle',
 'highland': 'Highland High'}

###  ‚úÖConvert data frames and drop unneed rows and columns
üü° Could clean up data types and nulls more but the datasets are function as of 3/26/2025

In [31]:
col_order = ['Year','District',  'SchoolName', 'Female', 'Male', 'Hispanic', 'American Indian/Alaskan Native', 'Asian',
       'Black  or African American', 'Caucasian', 'Not Hispanic',
       'Economically Disadvantaged', 'Students with Disabilities',
       'English Language Learners', 'Experiencing Housing Insecurity',
       'Housed']

dist_col_order = ['Year',' District Name', ' School Name', 'Grade Level', 'Enrollment',
       'No. of Student in Tier 1', 'No. of Student in Tier 2',
       'No. of Student in Tier 3', 'No. of Student in Tier 4',
       'Chronically Absent Student', 'Chronic Absentee Rate']

In [32]:
from os import rename
for k, v in df_dict.items():
  ##Drop %s and reorder columnson subpop, add district, school
  if k.endswith('subpop'):
    df_dict[k] = df_dict[k].transpose().drop(['Percent of Student in Tier 1','Percent of Student in Tier 2','Percent of Student in Tier 3','Percent of Student in Tier 4','Chronic Absentee Rate'], axis = 0)
    df_dict[k].columns = df_dict[k].iloc[0]
    df_dict[k].drop('Subpopulation Item', inplace = True)

    df_dict[k]['SchoolName'] = k.split('_')[1].split('2')[0]
    df_dict[k]['SchoolName'].replace(school_rename)
    df_dict[k]['District'] = 1
 ## add year column
  if k.split('_')[1].split('2')[1] == '3':
    df_dict[k]['Year'] = 2023
  elif k.split('_')[1].split('2')[1] == '4':
    df_dict[k]['Year'] = 2024
  ## Standardize column order
  if k.endswith('subpop'):
    df_dict[k] = df_dict[k][col_order]
  elif k.endswith('grade'):
    df_dict[k] = df_dict[k][dist_col_order]

## ‚úÖ Rearrange Columns to make uniform

NOTE: 2024 SEEMS TO HAVE A ENROLLMENT TOTAL COLUMN. 2023 DOESN'T

In [33]:
cols_df = pd.DataFrame()

for k, v  in df_dict.items():
  cols_df = pd.concat([cols_df, pd.Series(v.columns)],axis = 1)
cols_df.columns = list(att_df_dict.keys())
cols_df

,df_aps24_bysubpop,df_wherry24_bysubpop,df_emerson24_bysubpop,df_whittier24_bysubpop,df_wilson24_bysubpop,df_vanburen24_bysubpop,df_hayes24_bysubpop,df_highland24_bysubpop,df_aps23_bysubpop,df_wherry23_bysubpop,df_emerson23_bysubpop,df_whittier23_bysubpop,df_wilson23_bysubpop,df_vanburen23_bysubpop,df_hayes23_bysubpop,df_highland23_bysubpop,df_aps24_bygrade,df_aps23_bygrade
0,Year,Year,Year,Year,Year,Year,Year,Year,Year,Year,Year,Year,Year,Year,Year,Year,Year,Year
1,District,District,District,District,District,District,District,District,District,District,District,District,District,District,District,District,District Name,District Name
2,SchoolName,SchoolName,SchoolName,SchoolName,SchoolName,SchoolName,SchoolName,SchoolName,SchoolName,SchoolName,SchoolName,SchoolName,SchoolName,SchoolName,SchoolName,SchoolName,School Name,School Name
3,Female,Female,Female,Female,Female,Female,Female,Female,Female,Female,Female,Female,Female,Female,Female,Female,Grade Level,Grade Level
4,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,Enrollment,Enrollment
5,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic,No. of Student in Tier 1,No. of Student in Tier 1
6,American Indian/Alaskan Native,American Indian/Alaskan Native,American Indian/Alaskan Native,American Indian/Alaskan Native,American Indian/Alaskan Native,American Indian/Alaskan Native,American Indian/Alaskan Native,American Indian/Alaskan Native,American Indian/Alaskan Native,American Indian/Alaskan Native,American Indian/Alaskan Native,American Indian/Alaskan Native,American Indian/Alaskan Native,American Indian/Alaskan Native,American Indian/Alaskan Native,American Indian/Alaskan Native,No. of Student in Tier 2,No. of Student in Tier 2
7,Asian,Asian,Asian,Asian,Asian,Asian,Asian,Asian,Asian,Asian,Asian,Asian,Asian,Asian,Asian,Asian,No. of Student in Tier 3,No. of Student in Tier 3
8,Black or African American,Black or African American,Black or African American,Black or African American,Black or African American,Black or African American,Black or African American,Black or African American,Black or African American,Black or African American,Black or African American,Black or African American,Black or African American,Black or African American,Black or African American,Black or African American,No. of Student in Tier 4,No. of Student in Tier 4
9,Caucasian,Caucasian,Caucasian,Caucasian,Caucasian,Caucasian,Caucasian,Caucasian,Caucasian,Caucasian,Caucasian,Caucasian,Caucasian,Caucasian,Caucasian,Caucasian,Chronically Absent Student,Chronically Absent Student
10,Not Hispanic,Not Hispanic,Not Hispanic,Not Hispanic,Not Hispanic,Not Hispanic,Not Hispanic,Not Hispanic,Not Hispanic,Not Hispanic,Not Hispanic,Not Hispanic,Not Hispanic,Not Hispanic,Not Hispanic,Not Hispanic,Chronic Absentee Rate,Chronic Absentee Rate
11,Economically Disadvantaged,Economically Disadvantaged,Economically Disadvantaged,Economically Disadvantaged,Economically Disadvantaged,Economically Disadvantaged,Economically Disadvantaged,Economically Disadvantaged,Economically Disadvantaged,Economically Disadvantaged,Economically Disadvantaged,Economically Disadvantaged,Economically Disadvantaged,Economically Disadvantaged,Economically Disadvantaged,Economically Disadvantaged,NaN,NaN
12,Students with Disabilities,Students with Disabilities,Students with Disabilities,Students with Disabilities,Students with Disabilities,Students with Disabilities,Students with Disabilities,Students with Disabilities,Students with Disabilities,Students with Disabilities,Students with Disabilities,Students with Disabilities,Students with Disabilities,Students with Disabilities,Students with Disabilities,Students with Disabilities,NaN,NaN
13,English Language Learners,English Language Learners,English Language Learners,English Language Learners,English Language Learners,English Language Learners,English Language Learners,English Language Learners,English Language Learners,English Language Learners,English Language Learners,English Language Learners,English Language Learners,English Language Learners,English Language Learners,English Language Learners,NaN,NaN
14,Experiencing Housing Insecurity,Experiencing Housing Insecurity,Experiencing Housing Insecurity,Experiencing Housing Insecurity,Experiencing Housing Insecurity,Experiencing Housing Insecurity,Experiencing Housing Insecurity,Experiencing Housing Insecurity,Experiencing Housing Insecurity,Experiencing Housing Insecurity,Experiencing Housing Insecurity,Experiencing Housing Insecurity,Experiencing Housing Insecurity,Experiencing Housing Insecurity,Experiencing Housing Insecurity,Experiencing Housing Insecurity,NaN,NaN
15,Housed,Housed,Housed,Housed,Housed,Housed,Housed,Housed,Housed,Housed,Housed,Housed,Housed,Housed,Housed,Housed,NaN,NaN

In [34]:
df_dict['df_highland24_bysubpop'].head()
# df_dict['df_aps23_bygrade'].head()
# df_dict['df_aps24_bygrade'].columns

Subpopulation Item,Year,District,SchoolName,Female,Male,Hispanic,American Indian/Alaskan Native,Asian,Black or African American,Caucasian,Not Hispanic,Economically Disadvantaged,Students with Disabilities,English Language Learners,Experiencing Housing Insecurity,Housed
Enrollment,2024,1,highland,503,534,758,77,-1,62,73,312,526,248,438,98,972
Tier 1 Students,2024,1,highland,167,211,257,34,-1,31,23,129,166,82,143,32,354
Tier 2 Students,2024,1,highland,137,141,199,21,-1,20,23,88,130,61,122,19,268
Tier 3 Students,2024,1,highland,117,109,187,11,-1,6,15,47,125,56,106,26,208
Tier 4 Students,2024,1,highland,82,73,115,11,-1,5,12,48,105,49,67,21,142

## ‚úÖCombine all like tables into one dataframe

In [35]:
compilation_school_bysubpop = [v for k, v in df_dict.items()][0:-2]
compilation_aps_bygrade = [v for k, v in df_dict.items()][-2:]

In [36]:
compilation_school_bysubpop_df = pd.DataFrame()
compilation_aps_bygrade_df = pd.DataFrame()

## ‚úÖExport compiled json files

In [37]:
compilation_school_bysubpop_df.to_json('scrapedAttendance_23_24_byschool_by_subpop.json', orient = 'records')
compilation_aps_bygrade_df.to_json('scrapedAttendance_23_24_distrcit_bygrade.json', orient = 'records')
compilation_school_bysubpop_df = pd.concat([v for k, v in df_dict.items()][0:-2])
compilation_aps_bygrade_df= pd.concat([v for k, v in df_dict.items()][-2:])
compilation_school_bysubpop_df.shape, compilation_aps_bygrade_df.shape

((112, 16), (1002, 11))

In [38]:
compilation_aps_bygrade_df

,Year,District Name,School Name,Grade Level,Enrollment,No. of Student in Tier 1,No. of Student in Tier 2,No. of Student in Tier 3,No. of Student in Tier 4,Chronically Absent Student,Chronic Absentee Rate
0,2024,ALBUQUERQUE,A. MONTOYA ELEMENTARY,05,68.0,27.0,31.0,9.0,1.0,10,14.71%
1,2024,ALBUQUERQUE,A. MONTOYA ELEMENTARY,02,61.0,21.0,17.0,19.0,4.0,23,37.70%
2,2024,ALBUQUERQUE,A. MONTOYA ELEMENTARY,01,48.0,17.0,18.0,10.0,3.0,13,27.08%
3,2024,ALBUQUERQUE,A. MONTOYA ELEMENTARY,04,68.0,25.0,23.0,17.0,3.0,20,29.41%
4,2024,ALBUQUERQUE,A. MONTOYA ELEMENTARY,KF,54.0,20.0,20.0,13.0,1.0,14,25.93%
...,...,...,...,...,...,...,...,...,...,...,...
496,2023,ALBUQUERQUE,JEFFERSON MIDDLE,07,224.0,70.0,74.0,51.0,29.0,80,35.71%
497,2023,ALBUQUERQUE,JEFFERSON MIDDLE,06,225.0,85.0,68.0,51.0,21.0,72,32.00%
498,2023,ALBUQUERQUE,JIMMY CARTER MIDDLE,07,197.0,41.0,52.0,69.0,35.0,104,52.79%
499,2023,ALBUQUERQUE,JIMMY CARTER MIDDLE,OS,1.0,0.0,0.0,0.0,1.0,1,100.00%
500,2023,None,None,None,NaN,NaN,NaN,NaN,NaN,"33,055",None

Flavor text for GitHub:

Data scraping NM PED Annual Attendance report for district by grade and individual school attendance reports for target cluster.
Clean and compiled datasets into usable json files.